<div class="page">    
    <% @codes1.each do |code1_string| %>
        <%= code1_string.html_safe %>
    <% end %>
    <hr class="separator" />
    <% @codes2.each do |code2_string| %>
        <%= code2_string.html_safe %>
    <% end %>
    <hr class="separator" />
    <% @codes3.each do |code3_string| %>
        <%= code3_string.html_safe %>
    <% end %>
</div>