<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Barcode" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Gerador de código de barras</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <div class="row">
            <div class="col-lg-12">
              <p>- Vá até a planilha de produtos no excel e cole nessa região. Após isso, clique em "Carregar tabela".</p>
              <p>- Uma tabela será gerada, após isso, clique em "Gerar PDFs" para criar os pdfs</p>
              <%= text_area :csv, :data, :cols => 30, :rows => 10, :class => "form-control" %>
            </div>
          </div>
          <div class="row" style="margin-top: 20px; margin-bottom:30px;">
            <div class="col-lg-8"></div>
            <div class="col-lg-2">
              <%= submit_tag 'Carregar tabela', :class => 'btn btn-primary float-right', :id => "load" %>
            </div>
            <div class="col-lg-2">
              <%= submit_tag 'Gerar PDFs', :class => 'btn btn-primary float-right', :id => "generate" %>
            </div>
          </div>
          
          

        </div>
        <div class="row">
          <div class="col-lg-12" id="load-table-view">
            
          </div>
        </div>
      </div>

    </div> <!-- /container -->

  </body>
</html>
