// Place all the styles related to the barcode controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: rgb(204,204,204);
    -webkit-print-color-adjust: exact;
  }

.page{
  width: 21cm;
  height: 29.7cm;
}

.separator{
  height: 2px;
  background: rgb(54, 54, 54);
}

.mart-logo{
  display: inline-block;
}

.mart-logo img{
  width: 40px;
  float: left;
}

.po{
  float: right;
}

.po p{
  font-size: 8px;
  float: right;
  padding-top: 7px;
}

.cod-3,.cod-2,.cod-1{
    display: inline-block;
}

/* Código de barras 1 */
.cod-1 table.barby-barcode { border-spacing: 0; }
.cod-1 tr.barby-row {}
.cod-1 td.barby-cell { width: 1px; height: 45px; }
.cod-1 td.barby-cell.on { background: #000!important; }

.cod-1 .side-text{
  display: inline-block;
}

.cod-1 .head-info{
  margin-bottom: 10px;
}

.cod-1 .cod-name{
  font-weight: bold;
  font-size: 7px;
  margin-bottom: 1px;
  width: 96px;
}

.cod-1 .side-bar{
  display: inline-block;
  margin-right: 15px;
}

.cod-1 .cod-bottom{
  font-size: 12px;
  margin-bottom: 0;
  text-align: center;
}

.cod-1 .side-text p{
  font-size: 11px;
  line-height: 8px;
  margin-bottom: 2px;
}

.cod-1 .holder-ean{
  border: 1px solid #2489fc;
  border-radius: 2em;
  padding: 5px 15px 5px 22px;
  margin-right: 30px;
  margin-bottom: 10px;
}


/* Código de barras 2 */
.cod-2 table.barby-barcode { border-spacing: 0; }
.cod-2 tr.barby-row {}
.cod-2 td.barby-cell { width: 3px; height: 50px; }
.cod-2 td.barby-cell.on { background: #000!important; }

.cod-2{
  margin-right: 25px;
  margin-bottom: 30px;
}

.cod-2 .barcode-holder{
  border: 1px solid rgb(36, 137, 252);
  padding: 9px;
}

.numero{
  display: inline;
  font-weight: bold;
}

.cod-num{
  float: right;
}

/* Código de barras 3 */
.cod-3 table.barby-barcode { border-spacing: 0; margin: 0 auto;}
.cod-3 tr.barby-row {}
.cod-3 td.barby-cell { width: 2px; height: 35px; }
.cod-3 td.barby-cell.on { background: #000!important; }
.cod-3{margin-right: 150px; margin-bottom: 25px;}
.cod-3 .numero-nome{
  font-size: 8px;
  font-weight: bold;
  width: 140px;
  float: left;
}

.cod-3 .cod-num{
  font-size: 8px;
  float: right;
}

.titulo{
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}